@model AdoptAMonsterSite.Models.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
    <section>
        <h2>Popular Listings</h2>
        <div class="listing-section">
            @foreach (var monster in Model.PopularMonsters)
            {
                <div class="listing-card">
                    <div class="img-placeholder">img</div>
                    <div class="listing-info">
                        <strong>@monster.Name</strong> (@monster.Species)<br />
                        <span>@monster.Description</span><br />
                        <span>Fee: $@monster.Price</span><br />
                        <a asp-controller="Monsters" asp-action="Details" asp-route-id="@monster.Id">See more →</a>
                    </div>
                </div>
            }
        </div>
    </section>

    <section>
        <h2>Recent Listings</h2>
        <div class="listing-section">
            @foreach (var monster in Model.RecentMonster)
            {
                <div class="listing-card">
                    <div class="img-placeholder">img</div>
                    <div class="listing-info">
                        <strong>@monster.Name</strong> (@monster.Species)<br />
                        <span>@monster.Description</span><br />
                        <span>Fee: $@monster.Price</span><br />
                        <a asp-controller="Monsters" asp-action="Details" asp-route-id="@monster.Id">See more →</a>
                    </div>
                </div>
            }
        </div>
    </section>
</main>
